*.sql
*.jpeg
*.pdf
*.png
*.mp4
*.zip
*.log
sync_check.log
send_photos.log
send_videos.log
api/classes/globals.class.php
videos/*
videos/
mysql_dump/
mysql_dump/*.sql
mysql_uploads/
mysql_uploads/*.sql
qr_codes/
finished_codes/
wkhtmltopdf/*